/.git
/.cache
/.cache/**
/.tmp-pytest-*
/.tmp-pytest-*/**
/.mypy_cache
/.mypy_cache/**
/.pytest_cache
/.pytest_cache/**
/.ruff_cache
/.ruff_cache/**
/.venv
/venv
/build
/dist
/htmlcov
/node_modules
.coverage
.coverage.*
coverage.xml
*.egg-info
__pycache__
*.py[cod]
uv.lock
